.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.ProductDiv {
  width:350px;

}

.BoredPunksPosition {
  width:600px;
}

.SwapCard {
  width:400px;
}

/* Dashboard Default - Grid System (Build here) */
div.availableCollateral{
position: static;
width: 350px;
height: 345px;
left: 30.79px;
top: 0px;
/* Secondary/ Primary White */
background: #FFFFFF;
border-radius: 20px;
/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 20px;
}

/* Card */

div.collateralCard{
position:static;
width: 326px;
height: 130px;
left: -12px;
right: -12px;
top: -13px;

/* Gradients/Gradient Style 1 */

background: linear-gradient(135deg, #868CFF 0%, #4318FF 100%);
border-radius: 40px;
}
